repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/creyD/prettier_action
    rev: v4.3
    hooks:
      - id: prettier
        types_or: [markdown, yaml]
