site_name: Mis Documentos
site_url: https://casteismael.github.io/mis-docs/
repo_url: https://github.com/casteismael/mis-docs
edit_uri: edit/main/docs/

theme:
  name: material
  language: es
  features:
    - navigation.tabs
    - navigation.top
    - content.code.copy
    - navigation.instant
    - navigation.indexes
    - toc.integrate
  palette:
    - scheme: default
      primary: teal
      accent: purple
      toggle:
        icon: material/brightness-7
        name: Cambiar a modo oscuro
    - scheme: slate
      primary: teal
      accent: lime
      toggle:
        icon: material/brightness-4
        name: Cambiar a modo claro

plugins:
  - search
  - git-revision-date-localized:
      type: date
      locale: es
  - minify:
      minify_html: true

markdown_extensions:
  - admonition
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
